html,
body,
main {
  height: 100%;
  width: 100%;
  font-family: arial;
  font-size: 30px;
}
/* * {
  border: 2px solid red;
} */

main {
  display: flex;
  justify-content: space-around;
  background-color: lime;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game Play */
.game-grid {
  display: flex;
  flex-wrap: wrap;
  height: 268px;
  width: 270px;
}

.game-sec {
  width: 500px;
  background-color: white;
}

.box {
  border: 5px solid black;
  height: 80px;
  width: 80px;
}

/* Player Sections */

.count-styling {
  display: flex;
}

/* Images */

.heart {

}

.star {

}
