html,
body,
main {
  height: 100%;
  width: 100%;
  font-family: arial;
  font-size: 30px;
}

html {
  background-image: url(./assets/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: space-around;
  color: rgba(255, 255, 255, 7);
  text-shadow: 0 3px 0 rgba(144, 33, 33, 0.8);
  font: normal small-caps 40px georgia;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game Play */

.statement-wrapper {
  display: flex;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 296px;
  width: 300px;
}

.statement {
  margin-top: 60px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 45px;
  color: rgba(0, 0, 0, 7);
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.8);
  font-weight: bolder;
}

.game-sec {
  width: 500px;
  background: rgba(255, 255, 255, 0.3);

}

.box {
  display: flex;
  justify-content: center;
  border: 5px solid black;
  font: 30px;
  height: 92px;
  width: 92px;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  border-right: none;
}


/* Player Sections */

.wins{
  font-weight: bolder;
  margin-right: 20px;
}

.count-styling {
  display: flex;
}

/* Images */

.emoji {
  height: 80px;
  width: 80px;
  margin-top: 5px;
}

section > .emoji {
  border: 10px solid;
  border-radius: 50px;
  border-color: rgba(0, 0, 0, 0.5);
}

.statement > img {
  height: 55px;
  width: 55px;
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
  border: 8px solid;
  border-radius: 50px;
  border-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}
